
.tipo {
    margin-left: 5px;
}

.normal{
    background:#8a8a59;
}
.fire{
    background:#f08030;
}
.water{
    background:#6890f0;
}
.electric{
    background:#f8d030;
}
.grass{
    background:#78c850;
}
.ice{
    background:#98d8d8;
}
.fighting{
    background:#c03028;
}
.poison{
    background:#a040a0;
}
.ground{
    background:#e0c068;
}
.flying{
    background:#a890f0;
}
.psychic{
    background:#f85888;
}
.bug{
    background:#a8b820;
}
.rock{
    background:#b8a038;
}
.ghost{
    background:#705898;
}
.dragon{
    background:#7038f8;
}
.steel{
    background:#b8b8d0;
}
.dark{
    background:#705848;
}
.fairy{
    background:#e898e8;
}
.curse{
    background:#68a090;
}
.img_border{
    border:1px solid lightgrey;
    margin-right: 20px;
}
.header_4{
    font-weight: bold;
}

.pokemon_size{
    height: 400px;
}

.table_stats{
    background-color: #e8eaed;
    font-weight: bold;
}

.hover_title{
    cursor: pointer;
}

div.scroll{
    height:200px;
    overflow: scroll;
}

.stats_border{
    border:2px solid #e6fff3;
    margin-right: 20px;
    border-radius: 8px;
}

.color_text{
    color: #00cc99;
    font-size: 20px;
}

.color_header{
    color:#3d3d29;
    font-size: 20px;
}

.color_header2{
    color:#3d3d29;
    font-size: 18px;
    font-weight: bold;
}

.bg_table{
    background-color: #ccccb3;
}

.borderless th, .borderless td{
    border:none !important;
}

.pokedex_table{
    background-color: white;
    border:1px solid #00e6ac !important;
}