<section ng-controller="InstinctEventsCtrl">
  <div class="container">
    <div class="m_top_30px row">

      <!--List of Guidelines-->
      <div class="col-sm-3 col-md-3 col-lg-3">
        <h4 class="text-center">Guidelines</h4>
        <div class="well well-lg">
          <p>Time format: xx a.m / p.m</p>
          <p>Date format: DD/MM/YY</p>
        </div>
        <br/>
      </div>
      <!--End of list of guidelines-->

      <!--Event form-->
      <div class="col-sm-4 col-md-4 col-lg-4">
        <h4 class="text-center">Add an event</h4>
        <br/>
        <form class="form-horizontal">
          <div class="form-group">
            <label class="control-label col-sm-3" for="title">Title:</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="title" ng-model="instinctevent.title">
            </div>
          </div>
          <br/>

          <div class="form-group">
            <label class="control-label col-sm-3" for="time">Time:</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="time" ng-model="instinctevent.time">
            </div>
          </div>
          <br/>

          <div class="form-group">
            <label class="control-label col-sm-3" for="date">Date:</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="date" ng-model="instinctevent.date" placeholder="DD/MM/YY">
              </div>
          </div>
          <br/>

          <div class="form-group">
            <label class="control-label col-sm-3" for="location">Location:</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="location" ng-model="instinctevent.location">
            </div>
          </div>
          <br/>

          <div class="form-group">
            <label class="control-label col-sm-3" for="info">More Info:</label>
            <div class="col-sm-9">
             <textarea class="form-control" style="resize:none;" rows="4" placeholder="More info about that event..." id="info" ng-model="instinctevent.info"></textarea>
            </div>
          </div>
          <br/>

          <div class="form-group pull-right">
            <span class="cols-sm-4">
              <button class="bg_btn btn btn-inverse btn-md" ng-click="addIEvent()">Add</button>
            </span>
            <span class="cols-sm-4">
              <button class="bg_btn btn btn-inverse btn-md" ng-click="updateIEvent()">Update</button>
            </span>
            <span class="cols-sm-4">
              <button class="bg_btn btn btn-inverse btn-md" ng-click="clearIEventFields()">Clear</button>
            </span>
          </div>
        </form>
      </div>
      <!--End of event form-->

      <!--Display Events-->
      <div class="col-sm-5 col-md-5 col-lg-5">
        <h4 class="text-center">List of Instinct Events</h4>
        <br/>
        <div class="panel panel-default">
          <div class="panel-body" ng-repeat="instinctevent in instinctevents">
            <table>
              <tr>
                <td class="event_date">{{instinctevent.date}}</td>
                <td class="event_title">&nbsp&nbsp&nbsp&nbsp {{instinctevent.title}}</td>
              </tr>
            </table>
            <br/>
            <p>{{instinctevent.info}}</p>
            <span class="pull-left">
              <span class="event_date glyphicon glyphicon-globe">{{instinctevent.location}}</span>
              &nbsp&nbsp&nbsp&nbsp
              <span class="event_date glyphicon glyphicon-time">{{instinctevent.time}}</span>
            </span>
            <span class="pull-right">
              <button class="bg_btn btn btn-inverse btn-xs" ng-click="editIEvent(instinctevent._id)"><span class="glyphicon glyphicon-pencil"></button>
              &nbsp
              <button class="bg_btn btn btn-inverse btn-xs" ng-click="removeIEvent(instinctevent._id)"><span class="glyphicon glyphicon-trash"></button>
            </span>
            <br/>
          </div>
        </div>
      </div>
      <!--End of Display Events-->
    </div><!--End of row-->
  </div><!--End of container-->
</section>