<section ng-controller="ValorEventsCtrl">
  <div class="container">
    <div class="m_top_30px row">

      <!--List of Guidelines-->
      <div class="col-sm-3 col-md-3 col-lg-3">
        <h4 class="text-center">Guidelines</h4>
        <div class="well well-lg">
          <p>Time format: xx a.m / p.m</p>
          <p>Date format: DD/MM/YY</p>
        </div>
        <br/>
      </div>
      <!--End of list of guidelines-->

      <!--Event form-->
      <div class="col-sm-4 col-md-4 col-lg-4">
        <h4 class="text-center">Add an event</h4>
        <br/>
        <form class="form-horizontal">
          <div class="form-group">
            <label class="control-label col-sm-3" for="title">Title:</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="title" ng-model="valorevent.title">
            </div>
          </div>
          <br/>

          <div class="form-group">
            <label class="control-label col-sm-3" for="time">Time:</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="time" ng-model="valorevent.time">
            </div>
          </div>
          <br/>

          <div class="form-group">
            <label class="control-label col-sm-3" for="date">Date:</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="date" ng-model="valorevent.date">
            </div>
          </div>
          <br/>

          <div class="form-group">
            <label class="control-label col-sm-3" for="location">Location:</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="location" ng-model="valorevent.location">
            </div>
          </div>
          <br/>

          <div class="form-group">
            <label class="control-label col-sm-3" for="info">More Info:</label>
            <div class="col-sm-9">
             <textarea class="form-control" style="resize:none;" rows="4" placeholder="More info about that event..." id="info" ng-model="valorevent.info"></textarea>
            </div>
          </div>
          <br/>

          <div class="form-group pull-right">
            <span class="cols-sm-4">
              <button class="bg_btn btn btn-inverse btn-md" ng-click="addVEvent()">Add</button>
            </span>
            <span class="cols-sm-4">
              <button class="bg_btn btn btn-inverse btn-md" ng-click="updateVEvent()">Update</button>
            </span>
            <span class="cols-sm-4">
              <button class="bg_btn btn btn-inverse btn-md" ng-click="clearVEventFields()">Clear</button>
            </span>
          </div>
        </form>
      </div>
      <!--End of event form-->

      <!--Display Events-->
      <div class="col-sm-5 col-md-5 col-lg-5">
        <h4 class="text-center">List of Valor Events</h4>
        <br/>
        <div class="panel panel-default">
          <div class="panel-body" ng-repeat="valorevent in valorevents">
            <table>
              <tr>
                <td class="event_date">{{valorevent.date}}</td>
                <td class="event_title">&nbsp&nbsp&nbsp&nbsp {{valorevent.title}}</td>
              </tr>
            </table>
            <br/>
            <p>{{valorevent.info}}</p>
            <span class="pull-left">
              <span class="event_date glyphicon glyphicon-globe">{{valorevent.location}}</span>
              &nbsp&nbsp&nbsp&nbsp
              <span class="event_date glyphicon glyphicon-time">{{valorevent.time}}</span>
            </span>
            <span class="pull-right">
              <button class="bg_btn btn btn-inverse btn-xs" ng-click="editVEvent(valorevent._id)"><span class="glyphicon glyphicon-pencil"></button>
              &nbsp
              <button class="bg_btn btn btn-inverse btn-xs" ng-click="removeVEvent(valorevent._id)"><span class="glyphicon glyphicon-trash"></button>
            </span>
            <br/>
          </div>
        </div>
      </div>
      <!--End of Display Events-->
    </div><!--End of row-->
  </div><!--End of container-->
</section>