<section>
    <!--First row-->
        <div class="row">
            <div class="col-sm-4 col-md-4 col-lg-4">
                <div class="panel panel-default" data-ng-controller="PokemapsController" data-ng-init="find()">
                    <div class="panel-body" style="height: 120px; background-color: #9F86FF;">
                        <div class="m_top_card2 pull-left">
                            <i class="fa fa-plus-circle fa-5x"></i>
                        </div>
                        <div class="pull-right">
                            <p class="card1_num">{{pokemaps.length}}</p>
                            <p style="color:white;">Total Pokemons</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4">
                <div class="panel panel-default">
                    <div class="panel-body" style="height: 120px; background-color: #46BFBD;">
                        <div class="m_top_card3 pull-left">
                            <i class="fa fa-calendar fa-4x"></i>
                        </div>
                        <div class="pull-right" ng-if="authentication.user.team == 'Instinct'" ng-controller="InstinctEventsCtrl">
                            <p class="card1_num">{{instinctevents.length}}</p>
                            <p style="color:white;">Total Events!</p>
                        </div>
                        <div class="pull-right" ng-if="authentication.user.team == 'Mystic'" ng-controller="MysticEventsCtrl">
                            <p class="card1_num">{{mysticevents.length}}</p>
                            <p style="color:white;">Total Events!</p>
                        </div>
                        <div class="pull-right" ng-if="authentication.user.team == 'Valor'" ng-controller="ValorEventsCtrl">
                            <p class="card1_num">{{valorevents.length}}</p>
                            <p style="color:white;">Total Events!</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4">
                 <table class="table table-bordered" data-ng-controller="PokemapsController" data-ng-init="find()">
                    <tr>
                        <td class="text-center">Last added Pokemons</td>
                    </tr>
                    <tr ng-repeat="pokemap in pokemaps | limitTo: 10">
                        <td>{{pokemap.title}}</td>
                    </tr>
                </table>
            </div>
        </div>
        <!--End of First row-->
        <hr>
        <!--Second row-->
        <div class="row" ng-controller="StatsController">
            <div class="col-sm-4 col-md-4 col-lg-4" style="float: left; position: relative;">
                    <div style= "position: absolute; top: 50%; left: 120px;right:0px; margin-top: -20px; line-height:19px; z-index: 999999999999999">
                    Number of users<br/>
                    per team
                    </div>
                    <canvas id="doughnut" class="chart chart-doughnut" chart-data="data1" chart-labels="labels1"></canvas>
                
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4" style="float: left; position: relative;">
                <div style= "position: absolute; top: 50%; left: 110px;right:0px; margin-top: -20px; line-height:19px; z-index: 999999999999999">
                    Number of male &<br/>
                    female users
                </div>
                <canvas id="doughnut" class="chart chart-doughnut" chart-data="data2" chart-labels="labels2"></canvas>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4">
                <table class="table table-bordered" data-ng-controller="PokemapsController" data-ng-init="find()">
                    <tr>
                        <td class="text-center">List of Pokemons that I've added:</td>
                    </tr>
                    <tr>
                        <td><a href="/pokemaps/create"><span class="glyphicon glyphicon-plus"></span>Add a pokemon</a></td>
                    </tr>
                    <tr ng-repeat="pokemap in pokemaps | limitTo: 10" ng-if="authentication.user._id == pokemap.user._id">
                        <td>{{pokemap.title}}</td>
                    </tr>
                </table>
            </div>
        </div>
        <!--End of Second row-->
        <hr>
        <!--Fourth row-->
        <div class="row">
            <div class="col-sm-4 col-md-4 col-lg-4">
                <table class="table table-bordered" data-ng-controller="ProfileInstinctController" ng-if="authentication.user.team == 'Instinct'">
                    <tr>
                        <td class="text-center">Recent Posts of Team Instinct:</td>
                    </tr>
                    <tr ng-repeat="instinctpost in instinctposts | limitTo: 5">
                        <td>
                            <a href="/instinctposts/{{instinctpost._id}}" style="color:black;">{{instinctpost.title}}</a>
                            <span class="pull-right">
                                <a href="/instinctposts/{{instinctpost._id}}">Comments</a>({{instinctpost.instinctcomments.length}})
                            </span>
                        </td>
                    </tr>
                </table>
                <table class="table table-bordered" data-ng-controller="ProfileMysticController" ng-if="authentication.user.team == 'Mystic'">
                    <tr>
                        <td class="text-center">Recent Posts of Team Mystic:</td>
                    </tr>
                    <tr ng-repeat="mysticpost in mysticposts | limitTo: 5">
                        <td>
                            <a href="/mysticposts/{{mysticpost._id}}" style="color:black;">{{mysticpost.title}}</a>
                            <span class="pull-right">
                                <a href="/mysticposts/{{mysticpost._id}}">Comments</a>({{mysticpost.mysticcomments.length}})
                            </span>
                        </td>
                    </tr>
                </table>
                <table class="table table-bordered" data-ng-controller="ProfileValorController" ng-if="authentication.user.team == 'Valor'">
                    <tr>
                        <td class="text-center">Recent Posts of Team Valor:</td>
                    </tr>
                    <tr ng-repeat="valorpost in valorposts | limitTo: 5">
                        <td>
                            <a href="/valorposts/{{valorpost._id}}" style="color:black;">{{valorpost.title}}</a>
                            <span class="pull-right">
                                <a href="/valorposts/{{valorpost._id}}">Comments</a>({{valorpost.valorcomments.length}})
                            </span>
                        </td>
                    </tr>
                </table>
            </div>

            <div class="col-sm-8 col-md-8 col-lg-8">
                <table class="table table-bordered" data-ng-controller="InstinctEventsCtrl" ng-if="authentication.user.team == 'Instinct'">
                    <tr>
                        <td class="text-center" colspan="3">Events of Team Instinct:</td>
                    </tr>
                    <tr ng-repeat="instinctevent in instinctevents | limitTo: 5">
                        <td>{{instinctevent.date}}</td>
                        <td>{{instinctevent.title}}</td>
                        <td>{{instinctevent.info}}</td>
                    </tr>
                </table>

                <table class="table table-bordered" data-ng-controller="MysticEventsCtrl" ng-if="authentication.user.team == 'Mystic'">
                    <tr>
                        <td class="text-center" colspan="3">Events of Team Mystic:</td>
                    </tr>
                    <tr ng-repeat="mysticevent in mysticevents | limitTo: 5">
                        <td>{{mysticevent.date}}</td>
                        <td>{{mysticevent.title}}</td>
                        <td>{{mysticevent.info}}</td>
                    </tr>
                </table>

                <table class="table table-bordered" data-ng-controller="ValorEventsCtrl" ng-if="authentication.user.team == 'Valor'">
                    <tr>
                        <td class="text-center" colspan="3">Events of Team Valor:</td>
                    </tr>
                    <tr ng-repeat="valorevent in valorevents | limitTo: 5">
                        <td>{{valorevent.date}}</td>
                        <td>{{valorevent.title}}</td>
                        <td>{{valorevent.info}}</td>
                    </tr>
                </table>
            </div>
        </div>
        <!--End of Fourth row-->
</section>