<section>
    <div class="row">
<div class="col-md-4"></div>
            <div class="col-md-4">
<h1>Pokemon GO Team</h1>
</div>
    </div>
  
  
  <br><br><br>
 <div class="row">
  <div class="col-md-3"></div>
            <div class="col-md-2">
                <img class="img-responsive img-thumbnail" src="modules/selection/client/img/instinct.png" alt="">
            </div>
            <!-- /.col-md-8 -->
            <div class="col-md-4">
                <h1>Team Instinct</h1>
                <p>Team Instinct is led by Spark, who believes you will never lose when you trust your instincts. Spark studies Pokemon's intuition, and thinks that it's related to how Pokemon are hatched.The Yellow Team's logo is styled after the legendary bird Zapdos. </p>
                <!--  <a class="btn btn-primary btn-lg" href="#">Call to Action!</a> -->
            </div>
            <!-- /.col-md-4 -->


</div>

<br><br><br>

<div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-4">
                <h1>Team Valor</h1>
                <p>Team Valor is lead by the Candela, who values training and strength. Candela is researching ways to enhance Pokemon's natural power as she tries to find true strength.The Red Team's logo is styled after the legendary bird Moltres. </p>
               <!--  <a class="btn btn-primary btn-lg" href="#">Call to Action!</a> -->
            </div>
			<div class="col-md-2">
                <img class="img-responsive img-rounded" src="modules/selection/client/img/valor.png" alt="">
            </div>
            <!-- /.col-md-8 -->
            <!-- /.col-md-4 -->
</div>



<br><br><br>

<div class="row">
 <div class="col-md-3"></div>
            <div class="col-md-2">
                <img class="img-circle img-responsive " src="modules/selection/client/img/mystic.png" alt="">
            </div>
            <!-- /.col-md-8 -->
            <div class="col-md-4">
                <h1>Team Mystic </h1>
                <p>The leader of Team Mystic, Blanche, studies Pokemon evolution and claims they cannot lose with their utilization of calm analysis.The Blue Team's logo is styled after the legendary bird Articuno. </p>
                <!--  <a class="btn btn-primary btn-lg" href="#">Call to Action!</a> -->
            </div>
            <!-- /.col-md-4 -->
</div>

<br><br><br>
<div class="text-center">
<div class="btn-group">
  <button class="btn btn-default btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
   PLEASE SELECT A TEAM <span class="caret"></span>
  </button>
  
  <ul class="dropdown-menu">
    <li><a href="#">Team Instinct</a></li>
    <li><a href="#">Team Valor</a></li>
    <li><a href="#">Team Mystic</a></li>
  </ul>
</div>
</div>

<br><br><br>
<div class="text-center">
<div class="btn-group" >
    <button type="button" class="btn btn-primary btn-md" >Proceed</button>
	</div>
	</div>
    <br><br><br>
</section>
